<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Usuarios Críticos</title>
</head>
<body>
    <h1>Consulta de Usuarios Críticos</h1>
    <form action="/Ejercicio1P2" method="GET">
        <label for="numUsuarios">Número de Usuarios Críticos a Mostrar:</label>
        <input type="number" id="numUsuarios" name="num_usuarios_criticos" placeholder="Introduce un valor [1-30]...">
        <label for="filtroProbabilidad">Filtro por Probabilidad:</label>
        <select id="filtroProbabilidad" name="filtro_probabilidad">
            <option value="todos">Sin Filtro</option>
            <option value="mayor_05">Mayores a 0.5</option>
            <option value="menor_05">Menores a 0.5</option>
        </select>
        <button type="submit">Consultar</button>
    </form>
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
</body>
</html>
