Ejercicio 2 practica 1:
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados del Ejercicio 2</title>
</head>
<body>
    <h1>Resultados del Ejercicio 2</h1>
    <p>Número total de muestras: {{ num_muestras }}</p>
    <p>Media de fechas detectadas: {{ media_fechas }}</p>
    <p>Desviación estándar de las fechas detectadas: {{ desviacion_fechas }}</p>
    <p>Media de IPs: {{ medias_ips }}</p>
    <p>Desviación estándar de IPs: {{ desviacion_ips }}</p>
    <p>Media de emails recibidos: {{ media_emails_recibidos }}</p>
    <p>Desviación estándar de emails recibidos: {{ desviacion_emails_recibidos }}</p>
    <p>Valor mínimo del total de emails recibidos: {{ min_emails_recibidos }}</p>
    <p>Valor máximo del total de emails recibidos: {{ max_emails_recibidos }}</p>
    <p>Número mínimo de emails interactuados por admin: {{ min_emails_admin }}</p>
    <p>Número máximo de emails interactuados por admin: {{ max_emails_admin }}</p>
</body>
</html>