<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Usuarios Críticos</title>
</head>
<body>
    <h1>Consulta de Usuarios Críticos</h1>
    <form action="/Ejercicio1P2" method="GET">
        <label for="numUsuarios">Número de Usuarios Críticos a Mostrar:</label>
        <input type="number" id="numUsuarios" name="num_usuarios_criticos" min="1" required>
        <button type="submit">Consultar</button>
    </form>
</body>
</html>
