<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Práctica SI</title>
</head>
<body>

<h1 style="font-size: 32px;">Práctica SI</h1>

<ul>
    <H2>PRACTICA 1</H2>
    <li><a href="/registrar">Registro de Usuario</a></li>
    <li><a href="/iniciar">Inicio de Sesión</a></li>
    <li><a href="/ejercicio2">Ejercicio 2</a></li>
    <li><a href="/ejercicio3">Ejercicio 3</a></li>
    <li><a href="/ejercicio4">Ejercicio 4</a></li>
    <br>
    <li><a href="/consulta-ejer-1">Ejercicio 1 de la P2</a></li>
    <li><a href="/Ejercicio3P2">Ejercicio 3 de la P2</a></li>
    <li><a href="/Ejercicio4P2">Ejercicio 4 de la P2</a></li>
    <li><a href="/consulta-ejer-5">Ejercicio 5 de la P2</a></li>
</ul>

</body>
</html>
