<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Resultado del Análisis</title>
</head>
<body>

<h2>Resultado del Análisis</h2>

<div>
  <h3>Datos del Usuario</h3>
  <p>Nombre: {{ usuario.nombre }}</p>
  <p>Teléfono: {{ usuario.telefono }}</p>
  <p>Provincia: {{ usuario.provincia }}</p>
  <p>Total de emails enviados: {{ usuario.total_enviados }}</p>
  <p>Total de emails con phishing: {{ usuario.phishing }}</p>
  <p>Total de emails clicados: {{ usuario.clicados }}</p>
</div>

<div>
  <h3>Resultado del Análisis</h3>
  {% if resultado == 1 %}
    <p>El usuario es critico</p>
  {% elif resultado == 0 %}
    <p>El usuario no es critico</p>
  {% else %}
    <p>No se pudo determinar el resultado del análisis.</p>
  {% endif %}
</div>

</body>
</html>